h2 {
    color: #24e043;
}

.section-text {
    text-align: start;
    text-indent: 1em;
    margin: 0 12px;
}

#my-picture {
    width: 150px;
    float: left;
    margin: 0 8px;
    border-radius: 100%;
    padding: 8px;
}