#my-picture {
    width: 150px;
    float: left;
    margin: 0 8px;
    border-radius: 100%;
    padding: 8px;
}
#banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: baseline;
}