#header-wrapper {
    color: #24c1e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 1.5em;
}



#header-wrapper > h1 {
    display: inline;
    flex: 0 1 auto;
}

#header-wrapper > span {
    color: #24e043;
    flex: 0 1 auto;
}
