#footer-wrapper {
    width: 100vw;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

#footer-wrapper > a {
    text-decoration: none;
    color: black;
}

.contact-link {
    margin: 0 18px;
}