#certifications-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.certification {
    max-width: 30vw;
    flex-basis: 1 1 30vw;
    padding: 1em .5em;
}