h1, h2, h3, h4, h5, h6 {
  color: #24c1e0;
  margin: 5px;
}

small {
  color: #24e043;
  margin: 5px;
 }

body {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
  background-color: black;
  opacity: .8;
  min-height: 100vh;
}

@media all and (min-width: 500px) {
  .App-wrapper-inner {
    width: 80vw;
    margin-left: 10vw;
  }

}

a, a:hover {
  text-decoration: none !important;
}

.panel, .panel-heading, .panel-body, .panel-group {
  background-color: black !important;
  border-color: #181818 !important;
}

p {
  text-align: left;
  text-indent: 1em;
}